.portfolioImg {
	border: 1px solid #3399ff;
	width: 100%;
	margin-left: 0px;
}

#navBar {
	font-size: 19px !important;
}


h2 {
	text-align: center;
}

.smallImg {
	width: 100%;
}

html {
  width: 100%;
  height: 100%;
}