body {
	color:  #efeff5;
	background-color: #1c1a33;
	font-size: 16px;
	text-align: left;
	font-family: 'Raleway', 'Tahoma';
}

#mainDiv {
	margin: 0% 30% 0% 30%;
}

.darkOnLight {
	color: #1c1a33;
	background-color: #efeff5;
	padding: 10px;
	text-align: justify;
	overflow:hidden;
	transition: 1s;
	opacity: 0;
	display: hidden;
	transform: translate(0px, 100px);
}

#portfolio5Div > a {
	 display: inline-block !important;
}

.header {
	color: #efeff5;
	overflow:hidden;
	transition: 1s;
	opacity: 0;
	display: hidden;
	transform: translate(0px, 100px);
}

.active, .active > * {
	transition: 1s;
	opacity: 1;
	display: block;
	transform: translate(0px, 0px);
}

#navBar {
	border: 0px;
	margin: 0px;
	color:  #efeff5;
	text-align: center;
}

.navLink, .navLink:visited {
	padding: 0px 10px 0px 10px;
	color: #efeff5 !important;
	transition: 0.5s;
}
.navLink:hover {
	background-color: red;
}



.aboutDiv {
	margin-bottom: 0px;
}
.contactDiv {
	margin-bottom: 0px;
}

a {
	font-weight: bold;
	text-decoration: none;
	cursor: pointer; cursor: hand;
}

#imgLower {
	display: none;
	position: absolute;
}
#imgUpper {
	display: inline;
	position: relative;
}

.center {
	text-align: center;
}

#contactDiv {
	text-align: center;
}

h1 {
	font-size: 55px;
	-webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}

h2 {
	text-align: center;
	font-size: 25px;
	-webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}



@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(1, 1);}
    50% {-webkit-transform: scale(1.2, 1.2);}
    100% {-webkit-transform: scale(1, 1);}
}

#downArrow {
  -webkit-animation: pulsate 1s ease;
    -webkit-animation-iteration-count: infinite; 
    background-color: gray;
    padding: 10px;
        border-radius: 50%;
    color: white;
    display: inline-block;
    text-align: center;
}


.portfolioImg {
	border: 1px solid #3399ff;
	width: 50%;
	margin-left: 10px;
}
.portfolioImg:hover {
	border: 1px solid #003399;
}

.smallImg {
	width: 20%;
	margin-left: 10px;
}

.contactImg {
	height: 50px;
}