
html{
     height:100%;
     min-height:100%;
}
#topPad {
	height: 100px;
}

body {
 	min-height:100%;
	color:  #efeff5;
  	background-color: #315481;
  	background-image: linear-gradient(to bottom, #315481, #918e82 100%);
  	background-attachment: fixed;
	font-size: 16px;
	text-align: left;
	font-family: 'Raleway', 'Tahoma';
/*	background-image: url('background_small.jpg');
    background-attachment: fixed;
	background-size: cover !important;
*/
    transition: 1s;
}
/*
.highResBackground {
	background-image: url('background.jpg');
	background-size: cover !important;
	transition: 2s;
}
*/

#mainDiv {
	margin: 0% 30% 0% 30%;
}

#introText {
	color: #1c1a33;
	background-color: #efeff5;
	font-weight: bold;
	font-size: 22px;
	padding: 30px;
	text-align: center;
	overflow:hidden;
	transition: 1s;
	-webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}

.darkOnLight {
	color: #1c1a33;
	background-color: #efeff5;
	padding: 10px;
	text-align: justify;
	overflow:hidden;
	transition: 1s;
	opacity: 0;
	display: hidden;
	transform: translate(0px, 100px);
}

#portfolio5Div > a {
	 display: inline-block !important;
}

.header {
	color: #efeff5;
	overflow:hidden;
	transition: 1s;
	opacity: 0;
	display: hidden;
	transform: translate(0px, 100px);
}

.active, .active > * {
	transition: 1s;
	opacity: 1;
	display: block;
	transform: translate(0px, 0px);
}

/*
#navBar {
	border: 0px;
	margin: 0px;
	color:  #efeff5;
	text-align: center;
}
*/

.navLink, .navLink:visited {
	padding: 0px 10px 0px 10px;
	color: #efeff5 !important;
	transition: 0.5s;
	display: inline-block;
}
.navLink:hover {
	background-color: white;
	color: black !important;
}



.aboutDiv {
	margin-bottom: 0px;
}
.contactDiv {
	margin-bottom: 0px;
}

a {
	font-weight: bold;
	text-decoration: none;
	cursor: pointer; cursor: hand;
}

#imgLower {
	display: none;
	position: absolute;
}
#imgUpper {
	display: inline;
	position: relative;
}

.center {
	text-align: center;
}

#contactDiv {
	text-align: center;
}

h1 {
	font-size: 55px;
	margin: 0px;
	-webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}

h2 {
	text-align: center;
	font-size: 25px;
	margin: 10px;
	-webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}

h5 {
	margin: 10px;
}

.portfolioHeader {
	display: inline;
	margin: auto;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}



@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(1, 1);}
    50% {-webkit-transform: scale(1.2, 1.2);}
    100% {-webkit-transform: scale(1, 1);}
}

#downArrow {
  -webkit-animation: pulsate 2s ease;
    -webkit-animation-iteration-count: infinite; 
    margin: auto;
    display: block;
    width: 50px;
	border-radius: 50%;
}
#downArrow:hover {
	background-color: #efeff5;
	margin: auto;
    display: block;
    transition: 1s;
}

.portfolioImg {
	border: 1px solid #3399ff;
	width: 50%;
	margin-left: 10px;
	float: right;
}
.portfolioImg:hover {
	border: 1px solid #003399;
}

.smallImg {
	float: right;
	width: 20%;
	margin-left: 10px;
}

.contactImg {
	float: right;
	height: 50px;
}