#mainDiv {
	margin: 0% 0% 0% 0%;

}
#imgLower {
	display: inline;
	position: relative;
}
#imgUpper {
	display: none;
	position: absolute;
}


.smallImg {
	width: 30%;
}

.darkOnLight {
	 style="text-align:center;"
}