#topPad {
	height: 0px;
}

#introText {
	font-size: 15px;
	padding: 10px;
	margin: 0% 20% 0% 20%;
}

#mainDiv {
	margin: 0% 0% 0% 0%;

}
#imgLower {
	display: inline;
	position: relative;
}
#imgUpper {
	display: none;
	position: absolute;
}


.smallImg {
	width: 30%;
}

.darkOnLight {
	 style="text-align:center;"
}