html {
  background-color: lightblue;
}

.container-fluid {
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
  align-items: baseline;
  overflow: hidden;
}

.item {
  background: white;
  margin: 10px;
  width: 200px;
}

.img-responsive {
  width: 200px;
  margin: auto;
  background: white;
  
}

#articleTitle {
  font-size: 25px;
}

a:link{
  text-decoration:none;
  color:black;
}