body {
  font-family: Tahoma;
  background-color:transparent;
  
}

html { 
background: url(mountain-st-cergue-mont-blanc-large.jpeg) no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;


}

.navbar {
  background-color: #FFF7B7;
  
}

h2 {
  padding-top: 100px;
  color: black;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  text-shadow: 1px -2px #FFF7B7;
  
}



h3 {
  margin: auto;
  color: white;
  font-family: 'Josefin Slab', serif;
  text-align: center;
  font-weight: bold;
  font-size: 26px;
  background-color: transparent;
  width: 28%;
  padding-top: 5px;
  border: inset;
  border-radius: 20%;
  border-color: #FFF7B7;
  
}

.jumbotron {
  padding-top: 100px;
  background-color: transparent;
  
}

.navbar .nav > li > a {
  color:  black;
  font-size: 20px;
  
}

.portfolioLink {
  width:20%;
    height: auto;
    background-color: #FFF7B7;
    padding: 10px;
    text-align: center;
}

.portfolioLink :hover {
  background-color: white;
}

.navbar-nav :hover {
  background-color: white;
  
}

#background2 {
background: url(https://static.pexels.com/photos/3014/black-and-white-architecture.jpg) no-repeat center center fixed;
  padding-top: 10vw;
  padding-bottom: 20vw;
  min-height: 50vw;
  
}

.container {
  width: 100%;
  padding: 0px;
  margin: 0px;
  
}

#background2text {
  float: left;
  font-family: 'Josefin Slab', serif;
  font-size: 35px;
  font-weight: bold;
  padding-left: 30px;
  
}

#background2img {
  float: right;
  padding-right: 20vw;
  border-radius:50%;
  
}

div {
  overflow:hidden;
}

#background3 {
  background: url(https://upload.wikimedia.org/wikipedia/commons/e/e6/Milford_Pink_Granite.jpg) no-repeat center center fixed;
  padding-top: 10vw;
  padding-bottom: 20vw;
  min-height: 40vw;
  color: black;
  font-family: 'Josefin Slab', serif; 
}

.btn-block {
  font-size: 55px;
  background-color:#FFF7B7;
  padding-top: 10px;
  
}
.btn-block:hover {
  background-color: white;
  
}

h4{
  color: white;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}

#portfolio{
  font-background: white;
  font-size: 30px;
  background: url(http://7-themes.com/data_images/out/48/6935821-tropical-beach.jpg) no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
  min-height:70vw;
}

h5{
 margin: auto;
  color: white;
  font-family: 'Josefin Slab', serif;
  text-align: center;
  font-weight: bold;
  font-size: 100px;
  background-color: transparent;
  width: 28%;
  padding-top: 5px;
margin-top:10vw;
}