html {
  text-align: center;
  font-family: Courier;
  font-size: 100px;
}

body {
  color: #000033;
  background-color: #f1f3f3;
  font-family: "helvetica";
}

h1 {
  font-size: 30px;
}

h3 {
  padding-top: 100px;
  font-size: 20px;
}

#XorO {
  background-color: #000033;
  color: #f1f3f3;
  width: 100px;
  padding-top: 2px;
  padding-right: 10px;
  margin-left: 20%;
  border-radius: 10px;
  font-size: 50px;
  text-align: right;
  justify-content: auto;
  position: relative;
}

#Difficulty {
  margin-left: 15%;
  background-color: #000033;
  color: #f1f3f3;
  width: 150px;
  padding-top: 2px;
  padding-right: 10px;
  padding-bottom: 2px;
  border-radius: 10px;
  font-size: 20px;
  text-align: left;
  justify-content: auto;
  position: relative;
}

#board {
  position: absolute;
  width: 300px;
  top: 100px;
  left: 50%;
  margin: 0 0 0 -150px;
}

.slot {
  width: 100px;
  height: 100px;
  float: left;
  background-color: #f1f3f3;
  border-radius: 50%;
  border: 1px solid #000033;
  font-size: 70px;
  font-weight: bold;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
  color: #000033;
}

.slot:hover {
   cursor: pointer;
  cursor: hand;
  background-color: #ccffff;
  color: #990033;
}