html {
  text-align: center;
  font-family: Courier;
  font-size: 100px;
}

body {
  color: #000033;
  background-color: lightgrey;
  font-family: "Tahoma";
}

h1 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
}

#board {
  margin: 0 auto;
  width: 300px;
}

#record {
  transition: 1s;
}

@-webkit-keyframes rotate
{
  0% {transform: rotateZ(0deg);}
  100% {transform: rotateZ(360deg);}
}
@-moz-keyframes rotate
{
  0% {transform: rotateZ(0deg);}
  100% {transform: rotateZ(360deg);}
}
@-o-keyframes rotate
{
  0% {transform: rotateZ(0deg);}
  100% {transform: rotateZ(360deg);}
}
@keyframes rotate
{
  0% {transform: rotateZ(0deg);}
  100% {transform: rotateZ(360deg);}
}


}

@-webkit-keyframes pulse
{
  0% {transform: rotateZ(0deg);}
  50% {transform: rotateZ(180deg);}
  100% {transform: rotateZ(360deg);}
}
@-moz-keyframes pulse
{
  0% {transform: rotateZ(0deg);}
  50% {transform: rotateZ(180deg);}
  100% {transform: rotateZ(360deg);}
}
@-o-keyframes pulse
{
  0% {transform: rotateZ(0deg);}
  50% {transform: rotateZ(180deg);}
  100% {transform: rotateZ(360deg);}
}
@keyframes pulse
{
  0% {transform: scale(1);}
  50% {transform: scale(1.3);}
  100% {transform: scale(1);}
}

.slot {
  width: 100px;
  height: 100px;
  float: left;
  background: white;
  border-radius: 20%;
  font-size: 70px;
  font-weight: bold;
  -o-transition:1.5s;
  -moz-transition:1.5s;
  -webkit-transition:1.5s;
  transition:1.5s;
  color: white;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.slot:hover {
 cursor: pointer;
 cursor: hand;
 background: #b3e0ff;
 color: #b3e0ff;
 -o-transition:1.5s;
  -moz-transition:1.5s;
  -webkit-transition:1.5s;
  transition:1.5s;

}

.compHover {
  width: 100px;
  height: 100px;
  float: left;
  border-radius: 20%;
  font-size: 70px;
  font-weight: bold;
  -o-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
 background: #ffd9b3;
 color: #ffd9b3;
 -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  cursor:default;
}

.playerSlot {
  width: 100px;
  height: 100px;
  float: left;
  background: #b3e0ff;
/*  background: radial-gradient(lightblue, darkblue); */
  border-radius: 50%;
  font-size: 70px;
  font-weight: bold;
  -o-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s ;
  color: #0099ff;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  cursor:default;
}

.compSlot {
  width: 100px;
  height: 100px;
  float: left;
  background: #ffd9b3;
/*  background: radial-gradient(#ffd9b3, #ff9933); */
  border-radius: 50%;
  font-size: 70px;
  font-weight: bold;
  -o-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s ;
  color: #ff9933;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  cursor:default;
}

.compWin {
  width: 100px;
  height: 100px;
  float: left;
  background: #ffd9b3;
  /*
  background: radial-gradient(#ffd9b3, #ff9933);
  */
  border-radius: 50%;
  font-size: 70px;
  font-weight: bold;
  -o-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s ease;
  color: #ff9933;
  -webkit-animation: pulse 0.5s ease infinite;
  -moz-animation: pulse 0.5s ease infinite;
  -o-animation: pulse 0.5s ease infinite;
  animation: pulse 0.5s ease infinite;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  cursor:default;
}

.playerWin {
  width: 100px;
  height: 100px;
  float: left;
  background: #b3e0ff;
  /*
  background: radial-gradient(lightblue, darkblue);
  */
  border-radius: 50%;
  font-size: 70px;
  font-weight: bold;
  -o-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s ease;
  color: #0099ff;
  -webkit-animation: rotate 1.0s ease;
  -moz-animation: rotate 1.0s ease;
  -o-animation: rotate 1.0s ease;
  animation: rotate 1.0s ease;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  cursor:default;
}
